<h1>Weather Forecast</h1>
<br/>
<div class="login">
  	<%= form_with(method: 'get', local: true) do %>
       <label><b>Address</b></label></br>
       <%= text_area_tag(:address, @address, size: 70, :class => "text_tag") %>
       <%= submit_tag("Get Information", :class => "styled" ) %>
    <% end %>
    <% if defined?(@weather) %>
      <ul >
        <li>Temperature: <%= @weather.temperature %> ℃</li>
        <li>Temperature Minimum: <%= @weather.temperature_min %> ℃</li>
        <li>Temperature Maximum: <%= @weather.temperature_max %> ℃</li>
        <li>Humidity: <%= @weather.humidity %>%</li>
        <li>Pressure: <%= @weather.pressure %> millibars</li>
        <li>Description: <%= @weather.description %></li>
        <li>Is this result from the cache? <%= @weather_cache_exist %>
      </ul>
    <% end %>
</div>
